<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f2f5] px-10 py-3">
          <a href="/" class="flex items-center gap-4 text-[#111418]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M44 11.2727C44 14.0109 39.8386 16.3957 33.69 17.6364C39.8386 18.877 44 21.2618 44 24C44 26.7382 39.8386 29.123 33.69 30.3636C39.8386 31.6043 44 33.9891 44 36.7273C44 40.7439 35.0457 44 24 44C12.9543 44 4 40.7439 4 36.7273C4 33.9891 8.16144 31.6043 14.31 30.3636C8.16144 29.123 4 26.7382 4 24C4 21.2618 8.16144 18.877 14.31 17.6364C8.16144 16.3957 4 14.0109 4 11.2727C4 7.25611 12.9543 4 24 4C35.0457 4 44 7.25611 44 11.2727Z" fill="currentColor"></path>
              </svg>
            </div>
            <h2 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em]">Narrascent Pebble</h2>
          </a>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/how-it-works">How It Works</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/pebble">Pebble</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/shop">Shop</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/support">Support</a>
            </div>
            <a class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#3d98f4] text-white text-sm font-bold leading-normal tracking-[0.015em]" href="/compose">
              <span class="truncate">Compose</span>
            </a>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <h2 class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">How it works</h2>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-lg">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-[#111418] text-base font-bold leading-tight">Describe a moment, a mood, or a memory.</p>
                  <p class="text-[#60758a] text-sm font-normal leading-normal">
                    Use the app to describe the scent you want to create. You can use words, phrases, or even a story.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAAFmLzBKujGh7afSbPxbBtf2jGpShHdFH143NNq1WuoSrtizd_zncu0n9Dk0BrUlccGFKvgAsvuwStXVByY70swpjnCI63ysjS3LO4BFp9jNRhk-pqcw2QM3i0wLh3Pq8bCMYy9ufhxqXZNvVhikHs13MzrI72JpyFWxIq4qP4eAvDjiy6j9Ce_Iuf1npz3HHXkmZOQWU6DH9gbMCOwFw9AOjmQ8R5miSyrK7a9umKmpe2DK_Gl9I57VbIm1ObbxTxh936s7C-Fgb2");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-lg">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-[#111418] text-base font-bold leading-tight">AI assigns Top / Middle / Base in milliseconds.</p>
                  <p class="text-[#60758a] text-sm font-normal leading-normal">
                    Our AI analyzes your description and assigns the appropriate scent notes to create a unique fragrance.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB-Pl_VwTLuU9CvIExM1EAIBEBIfozYh1sh0PziC3axn9QuwpH2qe7TnhBSPy7riN62mVrmsP7ToYIFmCFOunzOCgF5lza0LLTjT4ihJC1BFsfRGEArFTR4FXTrFma5c5mtJlznZhYcEKDmkLJFsWVUkNL0zyJasmpLshbVslaa7963Hv7S_-M0YFN5WM0KOP0MMCg9KlLndaVYHVilgYHNuAB_RTnGu8o6xWZr2-4TQnWxaMJ1kD-ni6Duv7lxEIiuPcEz9_QmsSJP");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-lg">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-[#111418] text-base font-bold leading-tight">Press once—your words fill the room.</p>
                  <p class="text-[#60758a] text-sm font-normal leading-normal">
                    With a single press, your custom scent is released, transforming your space with the fragrance of your imagination.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC_BeBNqytOrvcjnGIF3JitH-hIFYc68vxNNEqwgb2peXQaBL3ecPOtlOq-VNyGRfsTZ2UDxXHnj6ZdfcVfmTDFc8YbtrESm3QzK-V3J30Er2zyf_hxRpYAeVrVZrEJKiNfd1qJChwZ-7KhiXrBxXc73jEF5jZgmSDKSwFMpV5Rf52DeJ1FDxvmphGquwyuLW5Y9dpnjhTli1odSTM4mOHe-ptEiVsCw_3imHohKfu25CRrNdXbuxbNwBPqHNscTV6DEntSKzwo18fs");'
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
