<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <h2 class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">How it works</h2>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-lg">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-[#111418] text-base font-bold leading-tight">Describe a moment, a mood, or a memory.</p>
                  <p class="text-[#60758a] text-sm font-normal leading-normal">
                    Use the app to describe the scent you want to create. You can use words, phrases, or even a story.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAAFmLzBKujGh7afSbPxbBtf2jGpShHdFH143NNq1WuoSrtizd_zncu0n9Dk0BrUlccGFKvgAsvuwStXVByY70swpjnCI63ysjS3LO4BFp9jNRhk-pqcw2QM3i0wLh3Pq8bCMYy9ufhxqXZNvVhikHs13MzrI72JpyFWxIq4qP4eAvDjiy6j9Ce_Iuf1npz3HHXkmZOQWU6DH9gbMCOwFw9AOjmQ8R5miSyrK7a9umKmpe2DK_Gl9I57VbIm1ObbxTxh936s7C-Fgb2");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-lg">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-[#111418] text-base font-bold leading-tight">AI assigns Top / Middle / Base in milliseconds.</p>
                  <p class="text-[#60758a] text-sm font-normal leading-normal">
                    Our AI analyzes your description and assigns the appropriate scent notes to create a unique fragrance.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB-Pl_VwTLuU9CvIExM1EAIBEBIfozYh1sh0PziC3axn9QuwpH2qe7TnhBSPy7riN62mVrmsP7ToYIFmCFOunzOCgF5lza0LLTjT4ihJC1BFsfRGEArFTR4FXTrFma5c5mtJlznZhYcEKDmkLJFsWVUkNL0zyJasmpLshbVslaa7963Hv7S_-M0YFN5WM0KOP0MMCg9KlLndaVYHVilgYHNuAB_RTnGu8o6xWZr2-4TQnWxaMJ1kD-ni6Duv7lxEIiuPcEz9_QmsSJP");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-lg">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-[#111418] text-base font-bold leading-tight">Press once—your words fill the room.</p>
                  <p class="text-[#60758a] text-sm font-normal leading-normal">
                    With a single press, your custom scent is released, transforming your space with the fragrance of your imagination.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC_BeBNqytOrvcjnGIF3JitH-hIFYc68vxNNEqwgb2peXQaBL3ecPOtlOq-VNyGRfsTZ2UDxXHnj6ZdfcVfmTDFc8YbtrESm3QzK-V3J30Er2zyf_hxRpYAeVrVZrEJKiNfd1qJChwZ-7KhiXrBxXc73jEF5jZgmSDKSwFMpV5Rf52DeJ1FDxvmphGquwyuLW5Y9dpnjhTli1odSTM4mOHe-ptEiVsCw_3imHohKfu25CRrNdXbuxbNwBPqHNscTV6DEntSKzwo18fs");'
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
