<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f2f5] px-10 py-3">
          <div class="flex items-center gap-4 text-[#111418]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M44 11.2727C44 14.0109 39.8386 16.3957 33.69 17.6364C39.8386 18.877 44 21.2618 44 24C44 26.7382 39.8386 29.123 33.69 30.3636C39.8386 31.6043 44 33.9891 44 36.7273C44 40.7439 35.0457 44 24 44C12.9543 44 4 40.7439 4 36.7273C4 33.9891 8.16144 31.6043 14.31 30.3636C8.16144 29.123 4 26.7382 4 24C4 21.2618 8.16144 18.877 14.31 17.6364C8.16144 16.3957 4 14.0109 4 11.2727C4 7.25611 12.9543 4 24 4C35.0457 4 44 7.25611 44 11.2727Z" fill="currentColor"></path>
              </svg>
            </div>
            <h2 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em]">Narrascent Pebble</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/">Home</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/how-it-works">How It Works</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/pebble">Pebble</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/shop">Shop</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/support">Support</a>
            </div>
            <a class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#3d98f4] text-white text-sm font-bold leading-normal tracking-[0.015em]" href="/compose">
              <span class="truncate">Compose</span>
            </a>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="flex flex-col gap-6 px-4 py-10 @[480px]:gap-8 @[864px]:flex-row">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg @[480px]:h-auto @[480px]:min-w-[400px] @[864px]:w-full"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDct1I2jHmjgsV_xBAJhW1FawHTAa4kgNbnPtRLLLztznqdfJwlB8D90u_ZXNBdH8w07aDyv1nq9KJU43RO0mtWrd4Cko7ScJXLMEsG1q87DUDrfZYjo-9E37OONpLwuvoVpgMM1XFk9vqJRRU-FE_bbo5VbKRgUA1u8WU9UDdtse9DF7sgmVWTcfvNhBJuuC8Zh9EF6V6r9RbYfaxenZbToFJ2gqZum7RxClwAiO8qo31Gi2ZVJ8X1ZHTAVNm3XUmU_VWlMRhnafht");'
                ></div>
                <div class="flex flex-col gap-6 @[480px]:min-w-[400px] @[480px]:gap-8 @[864px]:justify-center">
                  <div class="flex flex-col gap-2 text-left">
                    <h1
                      class="text-[#111418] text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                    >
                      Narrascent Pebble
                    </h1>
                    <h2 class="text-[#111418] text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      Craft your perfect scent experience with our innovative device. Explore a world of fragrance possibilities and create unique blends tailored to your
                      preferences.
                    </h2>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#3d98f4] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                  >
                    <span class="truncate">Pre-order now</span>
                  </button>
                </div>
              </div>
            </div>
            <h2 class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Interactive 3D Model</h2>
            <div class="p-4">
              <div
                class="relative flex items-center justify-center bg-[#111418] bg-cover bg-center aspect-video rounded-lg p-4"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBxcCON7RyHjooISxKzlLgW9baq5zx6zOxx0vtKpx5ntgJoblzqVF9ncv8Zo1eVU7kbQEoeKOTuxektRg6ABOAC3IkZNXlCnUqWFCN2lSs_V6bgQwMFBDU1W3g1uEtYEx9dCOZ05Js_R7S3Pe5Uu8tbyb4TVVbUoUJgMCbWcxUmaYH5lTfKIcGZdvGWRRWHPn2DKszl1HsAs2jYsgXX_AKKsibwoCq2_L7QhDeTe2KN0xVIG59ZzzHdrrYieFDYPCVZdsJ0FiflB14F");'
              >
                <button class="flex shrink-0 items-center justify-center rounded-full size-16 bg-black/40 text-white">
                  <div class="text-inherit" data-icon="Play" data-size="24px" data-weight="fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M240,128a15.74,15.74,0,0,1-7.6,13.51L88.32,229.65a16,16,0,0,1-16.2.3A15.86,15.86,0,0,1,64,216.13V39.87a15.86,15.86,0,0,1,8.12-13.82,16,16,0,0,1,16.2.3L232.4,114.49A15.74,15.74,0,0,1,240,128Z"
                      ></path>
                    </svg>
                  </div>
                </button>
              </div>
            </div>
            <h2 class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Specifications</h2>
            <div class="p-4 grid grid-cols-2">
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#dbe0e6] py-4 pr-2">
                <p class="text-[#60758a] text-sm font-normal leading-normal">Dimensions</p>
                <p class="text-[#111418] text-sm font-normal leading-normal">100mm x 100mm x 50mm</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#dbe0e6] py-4 pl-2">
                <p class="text-[#60758a] text-sm font-normal leading-normal">Connectivity</p>
                <p class="text-[#111418] text-sm font-normal leading-normal">Bluetooth Low Energy (BLE) / Wi-Fi</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#dbe0e6] py-4 pr-2">
                <p class="text-[#60758a] text-sm font-normal leading-normal">Cartridge Capacity</p>
                <p class="text-[#111418] text-sm font-normal leading-normal">6 x 5ml cartridges</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#dbe0e6] py-4 pl-2">
                <p class="text-[#60758a] text-sm font-normal leading-normal">Noise Level</p>
                <p class="text-[#111418] text-sm font-normal leading-normal">&lt;20 dB</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#dbe0e6] py-4 pr-2">
                <p class="text-[#60758a] text-sm font-normal leading-normal">Power</p>
                <p class="text-[#111418] text-sm font-normal leading-normal">5W</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#dbe0e6] py-4 pl-2">
                <p class="text-[#60758a] text-sm font-normal leading-normal">Materials</p>
                <p class="text-[#111418] text-sm font-normal leading-normal">Aluminum, Recycled Plastic</p>
              </div>
            </div>
            <h2 class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Base Note Palette</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB3A-a5hAOIWhnuRvOwV5tJhxfhjWBnnL7V92T-EcMoDNwwiiSWDA1JYMn8udSPSuOF0-OrFZ54nnrTjTT_5F9j3ieKYHmOuvGrdWjt0tLiDXIS9WqOyQEclNViBcYM2UogDZTOIWHrXJDzq9XCUlyZvSYfY8ckKKc-6ngbhZV4dUO3j_VabMDJCzC5iYp3iW1HTumwtO7DSfG2Hqxzv9XbvDj3iQzVqexMqNTqqFBpE6Bybn8q7jFXetlsTmFGu0bexlqi4UwqEp_7");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAlr9PEhTjHsJNpi32K2MzrXLQU8qUpOyQFDqYwUWSOETu1_P9smGO-7kbVFasrHjrqRhkhyVZaoP7qRWyQ1ZO8-utAm1A5Ktu4dSz0caN8y5CSPsW4SCk8fqSRtZmAbf6z-EUpCppTCzqE6DijpzBUIVTNFwXt1AneSENqGRmn3N4YQQj88yqoFSchjAM-uXKDEPEzE7AcHn_xCcZZLdU4Y-4eEM6ro12EZ7vagRTIwlIYz2AXsp92J2vkTJiHJfEZ3tT6j_KXpIoq");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCCPIEDN2fG4WqLWO1NEO4PsadBOvjv92Hhy4IJkb_1AlqxFtZSfW25n5oFGdYrj07SWHBdk2qYB5N0PBD2Qq1ZpNz_1BYJPtz0cniFWFEZ4XgkfJByn6qYVboqjbui1PtZBC7ehdYfa4y-olgW55uIhaMIkPdsYR9XBQAQ93ofcXd1t4J14QUGceh6zbJTh9_K5E5tQOANFCYKugzMz0F3R9C34f1H2PkBXnagJ2iJrFdbOMsvAYI0CxKwx-XMJ4qkUBZWM4sx980E");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCLXUblQzz-n59R-Fae6cEHsupfRX3CsAqhf7U2gHMvLdVZkOQwxh5D6CnE5EWy37g5rwxJhlcG-ln6dBWSP65DEjoBtrn9VcWTVCD1KP6lUa2PwYZo426UfsZd32Ktr_1T_1R_5SrO8FyNUpQmu6aPpe-TaMZqPcmjRrst_9H53eebHQUC9UC3ePTbxyqp-ScgD0BGX5wG4SW12VacSwlqOmi0pbMyqJ3AZu5k2IQ1SUv_fVM3l5knTXPYHM0WmMFsSolc6LMlr7PC");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBrTNh6gy9dEai8Xa1qMBSk5btXxJcYTbfH4SF2a8AVlWZBbpVWsnRtqx40SxNuFkyGbU7At4A5r6uHjFRePmKNFVtfWvXPFSdvQ0NMvuD7uanlKfWcgAzjJ7JAmsurnwL-lLzcHCh5EeK2EBa6HO8IBQzfpi6CDIbTCQjMPQ8o_Sx-TFC2rQgse5PWk8PGaeZEN55bfZbukyNXUJs6HUdCzLx24NQEqFuB2hoEM1NauHKAokcTT0J1aV1yjN8u1N_1ZcyZ_bFOcMuB");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAZi5SYCdbd86Ar7PPd_A-FejP3uF4jHu5PNyM6E5cfrkT2qupNQKv7Txw__k-oijaoEJBMrOLuPAHmzh9BekPSNNamFOKltMcQc5JVeAg-TanLUpuiJzCBwmClQUZhCMKEaIxf8fX9D6mgM-PCn52aRTPF29Xxi2nTiLobFNiw6Q0aoPr2c4JhmPW2284hoe6CSIywD2fAlaQyvtvazWsvI60ljD7zmgdsORX7H6wXxFkV-UoRTnA9YWvxnz8okH_Ll2BDI2xaX_vw");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAPI2y1WaTJYW5FeRFWOJyZ8G3MRA6KPQR6cPyki6UkGuzDx-6zS4v2k0eT_8JY0udyNyjxDlaWw2mW4tOGw4Mj2TcjgvfaKBuSH3b012iypNwKOPZolK6Fb7e6CA_8h9rC76CAAdXls2vgVxCekRttkID24VGE9QlLZ_PwZglRCbXL_ac6vtvXltZyfWcGAFMZ_K7KRjAU5LTGW9NCrDkr1aidaehMK0vC3zFQ5y5BSrwt21IWyuFw_Q5rCkuo4YVARH412SBOP96M");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD4HutweDXZ0x6wl5AD4pctAUwDA6VPNl03a1RR5G767OR69V5l5SoBIZNcWlYuECn-lBocIUb52-1AFJuXaCeFB53LhR5ShOzKirsnMe_bCIbalqZC-Thgs3cWUOl9kGZxzES10ljZgSLhf3iWwH9P4zBxSsBVUOJpgmf4ZvIdxoRXm-hySk9CzSoI3uuagJxyItyyKGnU8PLRP0e6DYGAhiqcGfmX5R6a7F9xw6zJ32-ATxOmq5_QvRwVFIDga2swric8nm5XSmlW");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB1CxI8kuo-eSITMC0N_yuA6KsHKCwMo-o0q5J-rm3-ymyvtulyHXWzvEKj4qQSnwIQ4k4C00EOdAaJ5CTYk3b3__29MxgMA1cwDyZh-we6hTVuFYTMl5SmO7jUSr4l2EFv7i_Sr5DBCKfC6UY_DeYJYs__jyN-qo_q_65_5LgNCePA4Vbj8M5ZwgJ6_41wUiO4bNc5ZwYQHW6qUwsmo-EENwM76mQapk63hyqHJCstPlNoe9YDwKWvSMuGYj_xqF4gP2JppGz-ErW1");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDHqP-JRQ7HFE-lNPgTOG8bcLAqn08ppnDPS4srUhOmPBimVExFe9ozoo7tE8HYyiUe5mE89HfrLepFtIG1NNVmJdIm6gSsKPWQEsREmmz_jUrvMrQ2u_G4ugSA3rY2AHEkG6s8Uu3VQxaLEXNp-JBI7eSwnQzVfqUUCn0XbAATBKAYM2SW_6SkVTG-ayenzTgpxYOP0EZYVDSYH0hjWQiP4C3dACTFA3yOykNCNQqYdjpUMhjmSVBzRkW-uI2QrM-VhpPZD0aclKyM");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBx4r1jiIMWMc9y5m8gSQ6l9PuQmZbfSyPB46orI6SyqxL186Cyf-Bizc7D9PCf_yPaKVyYeAOmr1zIOSEd_B_CMqPuHW9IOmeoDWuPMnYM0tWGi9B1vA5vwxtlSmOAAumTGHgnUNFTNWYURaVaZT_lrByTKY0cHrYCsjcWfab0NQ_10I8fhBtpIirHJ-gwGQyJlVfF36HmMDhqv8ImfGmv-fg2MWMxFFvxTE2IT3YjwUAykepj61ZTSHyFKHSh5rRdDX8IndGBdPjs");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDaawqvTKzc3ObtU4ixRPrjLnEJSp-gac64ivTg3fTeOKTs2Rd1IGl6vDNk45b11L7T0J6O36NEvLslfiBPc0M_UE_AX872x8i4ygZxzkhnMnOqkmqG4seBBmikv7Zf9r3xO2R_DcemJt0q8xW-VRqWKOYEg9ZCi-KpA4xjU-9HwWKaq-G0TLd0FzmeuLrbuOFa_JcHOuqLCWqKn3sDDAGB1w2Uf-1BZIF57bvpXyyxb3XtAKSG-JfPd0YahN4O4CzoAN2llwUPwO4K");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDWImZ6zEEeB9rD-Sjy7VIBGuEew0G2EALhGp7u3kgD8F0m167ns5mQSqJD5CALOMzML5avT5OB9pt-QccO6C3RiE1CX18obczifSGVEqQIfCqqGfVoa5pd8H9vURtVZoHbc-Jj9yBC1D8iDkwIB8Eun_HY202igL2UFprklJpGhE7tpCVwxeOzp9RvJId_yefOYCGL8TfxL7C8wC76DSF73_HvhwW9wYelJtmmGmUSjj5Ckm-Kk8IjZBXCgGU2Efjc2aolmZ8zBHGN");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC93lIgrfjvbpbtBstIR3yzlO8qF0P711MZOqxPDuCZG_SPNixzXpmgLqaUc-pSRHHqc3j1suikonDJXUuePmVPeXpsqFbLBcCQCBFVRX-anPLGNjPy_WmBVvaZBxqcpocv3JvSC70G_-l87Wcu7K67tQ_rkCIL2ebwGiST1wasxKnob8kzudn9C26J5g5Ugju4p2JYUkEiSS0LHd7-ruYNEWm9LfP3wUmpKsY9k5xVV7wIqHh8oGqwnZgzDXJ9lbrehS8KUv3beUnC");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDHGofM4VjVt_RWDwDPD1XPUpUWqMwa2c_epxT46eZ4fRstiuNleaCnKOgSvG3vNogP63tAWk7ik-HJSIGybZDvL19grnAXuriktPAthD129cyyEtmtz--5VBMaQLzZUdC9GN0iXZm0DEmrzuw4-HsNq4mUoX5uy52iGr5qZXMvVxpqwJ-OYpnmCVRBKtnaG0DGDk0GWUThhcF4f6LKfT3bnkqzzOKqTKb45sn-VzUITZ9xNE9iRcLPrnwuIWNQvUwaXXeAHyBdggQ7");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAR1U7_G1fI2FcfXQ4nE09xG0GXOrB4LCQdZjqedhK2PbtM1G4BNvsmO6xR2nZ1zE_LFRwNFesyHUxaCgQiLCULxPR2UxatXoJ9e82zMSxMrgtUzqNHuMW--a01FXoMxPFa5HHVzH1tDwPJPrhVYZc6aGjdKyO6I9MVMDicrM-MaVKQgkaaF_6ivdNcUwaujYjtCuPzNQV76pG3_HbqOqog_A2Grces7U2aZ-VfxnVp7TNBwUyhrwbT7Wk8yiG--xiPLbnqDcZCxP57");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAnPcWAxyO-ZaIkTG1IPCwBlxp-BfirRWzJRVvUYGHautqfAmdqaGMMs3pDndCcgM7auyEsi7ADiZ3bxQ9SclWDXVna-rbHqNX7IQGevSacLpmcunl1BLetn-Vssm4B85O0gYTPWMg6z2y3HIbRK9Qouk8jomiQ4WkYo6XigUOJ5MgALFE4L8RMKPAqQZsf8zUZE_M_WRU4IytdP-0t3A-JPfHyuMBdwmzqhwDqY097EQRwcIROu3ENTjPK3aD9q9gwQjtfRycfomAI");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD4Ju156IqhML9WP-an9u4ks8M4NGzTGU8MS5ELTBADPSkrv5__j1T3g7CA4Cxu-Ek8JXrwSgTNmBB10qlebhRh9tJggwwJd-4I7dJOkTrT6hfl23h89H6-mfEUAR_sBNg2gif9kNIisZQLSrZlqpwfx8fF_QDzHKWPeCtqFH1OwoiefN_BzUAByVVNZCghGs0lEZDiScTpEko96soK9N4sBaqFUBSG-LpjmsYCBLa25iTWwIMPj5CgCf_HCKTtn3SQmUeZCxxgPMWI");'
                ></div>
              </div>
            </div>
            <h2 class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">What's in the Box</h2>
            <div class="flex items-center gap-4 bg-white px-4 min-h-14"><p class="text-[#111418] text-base font-normal leading-normal flex-1 truncate">Narrascent Pebble</p></div>
            <div class="flex items-center gap-4 bg-white px-4 min-h-14">
              <p class="text-[#111418] text-base font-normal leading-normal flex-1 truncate">6-note starter palette</p>
            </div>
            <div class="flex items-center gap-4 bg-white px-4 min-h-14"><p class="text-[#111418] text-base font-normal leading-normal flex-1 truncate">6 mixing cups</p></div>
            <div class="flex items-center gap-4 bg-white px-4 min-h-14"><p class="text-[#111418] text-base font-normal leading-normal flex-1 truncate">USB-C cable</p></div>
            <h2 class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Pre-order Now</h2>
            <div class="flex flex-wrap gap-3 p-4">
              <label
                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#dbe0e6] px-4 h-11 text-[#111418] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#3d98f4] relative cursor-pointer"
              >
                Moonstone
                <input type="radio" class="invisible absolute" name="66e8e63b-1717-454c-98be-cb44ecf147db" />
              </label>
              <label
                class="text-sm font-medium leading-normal flex items-center justify-center rounded-lg border border-[#dbe0e6] px-4 h-11 text-[#111418] has-[:checked]:border-[3px] has-[:checked]:px-3.5 has-[:checked]:border-[#3d98f4] relative cursor-pointer"
              >
                Sandstone
                <input type="radio" class="invisible absolute" name="66e8e63b-1717-454c-98be-cb44ecf147db" />
              </label>
            </div>
            <p class="text-[#60758a] text-sm font-normal leading-normal pb-3 pt-1 px-4">Estimated shipping: 4-6 weeks</p>
            <div class="flex px-4 py-3">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12 px-5 flex-1 bg-[#3d98f4] text-white text-base font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Pre-order for $199</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
